<div class="container">
  <h1>ajax Rocks</h1>

  <div>
    <h2>Add saying</h2>
    <form>
      <input type="text" name="thing[text]" />
      <input type="submit" value="Create Saying">
    </form>
  </div>

  <div class="sayings">
    <h2>All Sayings</h2>
    <ul>
      <% @things.each do |thing| %>
        <%= erb :"_thingy", locals: {thing: thing} %>
      <% end %>
    </ul>
  </div>


</div>