<div class="container">
  <h1>ajax Rocks</h1>

  <div>
    <h2>Add saying</h2>
    <form method="post" action="/sayings">
      <input type="text" name="saying[text]" />
      <input type="submit" value="Create Saying">
    </form>
  </div>

  <div id="edit_saying"></div>

  <div class="sayings">
    <h2>All Sayings</h2>
    <ul>
      <% @sayings.each do |saying| %>
        <%= erb :"_saying", locals: {saying: saying} %>
      <% end %>
    </ul>
  </div>


</div>