<div class="container">
  <h1>ajax Rocks</h1>

  <a href="/sayings/new">Create Saying</a>

  <div id="create_saying" class="hidden">
    <%= erb :"sayings/_new", locals: {saying: @saying}%>
  </div>

  <div class="sayings">
    <h2>All Sayings</h2>
    <ul>
      <% @sayings.each do |saying| %>
        <li id="<%= saying.id %>"><%= saying.text %></li>
      <% end %>
    </ul>
  </div>
</div>